* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
body {
 background-image: linear-gradient(

    rgb(10, 0, 54),
    rgb(1, 0, 17),
    rgb(11, 0, 61)
  );
  width: 100%;
  min-height: 100%;
  min-height: 100%;
  min-width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
} 

:root {
  --color-primario: #f57b2a;
  --color-secundario: #f8f9fa;
  --color-terciario:#6fb7ff;
  --color-cuarto:#ffb45f;
}

@media (min-width: 240px) {
  h1 {
    width: auto;
    height: auto;
    font-size: 2em;
    font-size: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1.5em;
  }

  h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    font-style: oblique;
    animation: h2 1s ease;
}
h3{
  text-align: center;
}

 p {
    margin-bottom: 0.3rem;
    font-size: 0.8em;
  }

  .mi-logo {
    width: 3em;
  }

  header {
    padding: 1vw;
    padding: 1dvw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(218, 108, 5);
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
nav a{
transition: all 1s ease;
}
nav a:hover{
transform: scale(1.2);
color:#535150;
}
  a {
    color: aliceblue;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
  }
  ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    gap: 2vw;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
  }

  li {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.7em;
  }


  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3vw;
    padding: 3dvw;

  }

  
  #teloresumo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mi-foto {
    border-radius: 50%;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50vh;
    height: 50dvh;
    width: 50vw;
    width: 50dvh;
    cursor: pointer;
    animation: quien-soy 1s ease;
    padding-top: 3em;
  }
  .single-card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  .single-card:hover {
    transform: rotateY(180deg);
  }

  .front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(images/valentin-vattuone.jpg);
    background-size: cover;
    border-radius: 50%;
    color: rgb(21, 6, 77);
    text-align: center;
  }
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    color: rgb(201, 97, 0);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    font-size: 100%;
    padding: 20%;
    font-family: monospace;
  }
  .descripcion {
    width: 45vh;
    width: 45dvh;
    text-decoration: dotted;
    list-style-type: circle;
    font-size: 0.9em;
    gap: 0.5em;
  }

  strong {
    color:var(--color-terciario);
  }
 
  .quien-soy {
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    margin-top: 3em;
    animation: presentacion 1s ease;
  }

  .design-pack{
    display: grid;
    align-items:center ;
    justify-items:center;
    padding: 3em;
  }


  .img-ill{
grid-area: 1/3;
width:12vw;
width:12dvw;
animation: flotar 2s ease-in infinite;
  }
    .img-psd{
grid-area: 2/2;
width:12vw;
width:12dvw;
animation: flotar 2s ease-out infinite;
animation-delay: 0ms;
  }
      .img-pr{
grid-area: 2/4;
width:12vw;
width:12dvw;
animation: flotar 2s ease-in infinite;
animation-delay: 80ms;
  }
        .img-ae{
grid-area: 3/1;
width:12vw;
width:12dvw;
animation: flotar 2s ease-in infinite;
animation-delay: 60ms;
  }
  .img-id{
    grid-area: 3/3;
width:12vw;
width:12dvw;
animation: flotar 2s ease-in infinite;
animation-delay: 40ms;
  }
  .img-lr{
        grid-area: 3/5;
width:12vw;
width:12dvw;
animation: flotar 3s ease-in infinite;
animation-delay: 20ms;
  }
  i{
    font-size: 12vw;
    font-size: 12vw;
    transition: transform 1s ease, color 0.5s ease;
  }
  i:hover{
    transform: scale(1.5);
    color: #f57b2a !important;
  }
  .front-pack{
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .soft-skills{
display: flex;
align-items: center;
    gap: 2em;
    margin-bottom: 1em;
    font-weight: bolder;
  }
.soft-skills i{
    font-size: 8vw;
}

.container{
display: flex;
flex-direction: column;
gap: 3em;
padding: 0;
transition: transform 1s ease;
}
.container:hover{
  transform:rotateX(-7deg) rotateY(-15deg) rotateZ(-2deg) scale(0.95);
}

@keyframes flotar {
  0%,100% { transform: translateY(0px); 
  }
  50% { transform: translateY(-15px);
   }
}

a{
    cursor: pointer;
    width: 100%;
}
.card{
    background-color: rgb(255, 175, 110);
    display: flex;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
border: 1em;
text-decoration: none; 
}

h4{
     display: flex;
    text-align: center;
    justify-content: center;
    padding: 2%;
    margin: 0; 
}
.imgproyectos{
  aspect-ratio: 3 / 2;
  object-fit: cover;
  border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}
.experiencias{
width: 100%;
display: flex;
flex-direction: column;
 align-items: center;
    justify-content: center;
padding: 2%;
gap:1em;
}
.imgexp{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.textoxp{
    font-size: 0.9em;
    text-align: justify;
}
.contacto{
  display: flex;
  align-items:center;
  width:100%;
  gap:1em;
  flex-wrap: wrap;
  justify-content: center;
}
.contacto a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
#contactame h3{
  text-align:start;
}
footer{
  background-color: rgb(255, 123, 0);
  color: aliceblue;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0.5rem 0;
  font-weight: bolder;
}

#XP, #proyectos, #contactame{
   view-timeline-name: --reveal;
    animation-name: mostrar;
    animation-range: entry 10% cover 50%;
    animation-timeline: --reveal;
    animation-fill-mode: both;
}
@keyframes h2{
    from{
transform: rotateX(45deg)  translateX(-20px) scaleX(20px);

    }
    to{
        transform:  rotateX(0deg) translateX(0px) scaleX(0px);
    }
}
  @keyframes quien-soy {
    from {
      opacity: 0;
      transform: translateX(-50em);
    }
    to {
      opacity: 1;
      transform: translateX(0em);
    }
  }
  @keyframes presentacion {
    from {
      opacity: 0;
      transform: translateX(50em);
    }
    to {
      opacity: 1;
      transform: translateX(0em);
    }
  }
    @keyframes torcer {
    from {
      transform:rotate(30deg);
    }
    to {
      transform: rotate(0);
    }
  }

@keyframes mostrar {
  from{
    opacity: 0;
scale: 10%;
    } 
    to{
      opacity:1;
      scale:100%
    }
}
.volver{
  margin-top: 2em;
  background-color: var(--color-terciario);
}
.volver h4{
  color: rgb(24, 24, 24);
}
}








@media (min-width: 768px) and (max-width: 1440px) {
    h1 {
    width: auto;
    height: auto;
    font-size: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1em;
    color:var(--color-cuarto);
  }

  h2{
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: montserrat;
    font-style: oblique;
    animation: h2 1s ease;
    letter-spacing: 5px;
    margin-bottom: 1em;
}
h3{
  text-align: center;
}
 p {
    margin-bottom: 0.3rem;
    font-size: 1em;
  }

  .mi-logo {
    width: 5em;
  }

  header {
    padding: 2vw;
    padding: 2dvw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color-primario);
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    color: aliceblue;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    

  }
  ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    gap: 2vw;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
  }

  li {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    font-weight:550;
  }


  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3vw;
    padding: 3dvw;
  }


  
  #teloresumo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .mi-foto {
    border-radius: 50%;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 65vh;
    height: 65dvh;
    width: 65vw;
    width: 65dvh;
    cursor: pointer;
    animation: quien-soy 1s ease;
    padding-top: 3em;
    margin-bottom: 2em;
  }
  .single-card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  .single-card:hover {
    transform: rotateY(180deg);
  }

  .front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(images/valentin-vattuone.jpg);
    background-size: cover;
    border-radius: 50%;
    color: rgb(21, 6, 77);
    text-align: center;
  }
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    color: rgb(201, 97, 0);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    font-size: 100%;
    padding: 20%;
    font-family: monospace;
  }
  .descripcion {
    width: 45vh;
    width: 45dvh;
    text-decoration: dotted;
    list-style-type: circle;
    font-size: 0.9em;
    gap: 0.5em;
  }

  strong {
    color:var(--color-terciario);
  }
 
  .quien-soy {
    display: flex;
width: 50%;
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    margin-top: 3em;
    animation: presentacion 3s ease;
  }

  hr {
  border: none;
  height: 3px;
  background: linear-gradient(to right, #ffffff, #ff7309);
  margin: 2em 0;
}

  .design-pack{
    display: grid;
    align-items:center ;
    justify-items:center;
    padding: 1em;
    background-color:#4879aa7e;
    border-radius: 5px;
    border:0.2em solid var(--color-primario);
    margin-top: 1em;
     margin-bottom: 2em;

  }


  .img-ill{
grid-area: 1/3;
width:9vw;
width:9dvw;
  }
    .img-psd{
grid-area: 2/2;
width:9vw;
width:9dvw;
  }
      .img-pr{
grid-area: 2/4;
width:9vw;
width:9dvw;
  }
        .img-ae{
grid-area: 3/1;
width:9vw;
width:9dvw;
  }
  .img-id{
    grid-area: 3/3;
width:9vw;
width:9dvw;
  }
  .img-lr{
        grid-area: 3/5;
width:9vw;
width:9dvw;
  }
  i{
    font-size: 12vw;
    font-size: 12dvw;
  }
  
  .front-pack{
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iconos-descipciones{
    display: flex;
align-items: center;
justify-content:center;
flex-direction: column;
  }
    .soft-skills{
display: flex;
align-items: center;
justify-content:space-between;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bolder;
  }
.soft-skills i{
    font-size: 6vw;
}
.soft-skills p{
  font-size: 1.5em;
  color: var(--color-cuarto);
  text-align:start;

}
.container1{
  width: auto;
  height:auto;
  flex-direction: column;
  display: flex;
  padding: 2em;
align-items: flex-start;
justify-content:center;
border-radius: 5px;
background-color:#f8f9fa1c;

}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
  padding: 0;
    transition:transform 0.5s ease;
}

.card {
  background-color: rgb(255, 175, 110);
  display: flex;
  flex-direction: column;
  width: 25vw;
    height: 30vh;
      border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
  overflow: hidden;
  text-decoration: none;
}


.card h4 {
  text-align: center;
  padding: 2%;
  margin: 0;
  font-size: 1em;
}

.imgproyectos {
  width: 100%;
  height: 100%;
  flex: 1;
        border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  object-fit: cover;

}
.experiencias{
  background-color: #6fb7ff48;
width: 100%;
display: flex;
flex-direction: column;
 align-items: center;
    justify-content: center;
padding: 2%;
gap:1em;
}
.imgexp{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.textoxp{

    font-size: 1.2em;
    text-align: justify;
}
.experiencias h3{
  color: var(--color-terciario);
  font-size: 1.8em;
}
.contacto{
  display: flex;
  align-items:center;
  width:100%;
  gap:1em;
  flex-wrap: wrap;
  justify-content: center;
}
.contacto a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
footer{
  background-color: rgb(255, 123, 0);
  color: aliceblue;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0.5rem 0;
  font-weight: bolder;
}
@keyframes h2{
    from{
transform: rotateX(45deg)  translateX(-20px) scaleX(20px);

    }
    to{
        transform:  rotateX(0deg) translateX(0px) scaleX(0px);
    }
}
  @keyframes quien-soy {
    from {
      opacity: 0;
      transform: translateX(-50em);
    }
    to {
      opacity: 1;
      transform: translateX(0em);
    }
  }
  @keyframes presentacion {
    from {
      opacity: 0;
      transform: translateX(50em);
    }
    to {
      opacity: 1;
      transform: translateX(0em);
    }
  }


}
